:root {
    --nes-red: #E60012;
    --nes-black: #000000;
    --nes-white: #FFFFFF;
    --nes-gray: #7B7B7B;
}

*{
    box-sizing: border-box;
}

ul {
    padding-left: 8%;
}

/* Section Spacing */
section {
    padding: 2rem 0;
    margin: 2rem 0;
    justify-items: center;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--nes-black);
    background: var(--nes-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../Final-project-HTML-CSS-JS/img/bg-decoration.jpeg);
}

.hero {
    background-color: #ff000000;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.hero-image {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero-image img {
    background-color: #ffffff;
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    padding: 1%;
    margin: 1%;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
      
}

.container {
    margin: 0 auto;
    padding: 2rem 3rem; /* Inner container padding */
    flex: 1;
}

.innovation-text {
    margin-bottom: 5%;
}

/* History Grid Adjustments */
.history-grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
    padding: 1.5rem 2rem;
    margin:0rem 5rem;
    background: rgba(230, 0, 18, 0.03);
    border-radius: 8px;
}

.history-text p {
    margin-top: 5%;
}

.history-image {
    width: 100%;
    max-width: 280px;
    border: 3px solid var(--nes-red);
    padding: 0.5rem;
    align-self: start;
    box-shadow: 8px 8px 0 var(--nes-gray);
}

.image-gallery {
    display: flex;
    justify-content: center;
}

.image-gallery img {
    width: 40%;
    border-radius: 16px;
    padding: 1%;
    margin: 1%;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
}

.nes-era {
    background-color: #ffffff00;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    
    .container {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .history-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    
    .history-image {
        max-width: 1080px;
        margin: 1rem auto;
    }
}

@media (max-width: 1080px) {
    
    .container {
        padding: 1rem;
    }
}