*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 730px) {
/* Header Styles */
header {
  background-color: #e60012;
  padding: 1rem 2rem;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 16px;
  font-family: "Press Start 2P", cursive;
  display: flex;
  width: fit-content;
  justify-self: start;
  align-items: center;
}

.logo-img {
  height: 40px;
  width: 100%;
  transition: transform 0.3s ease;
}

.logo:hover .logo-img {
  transform: scale(1.05);
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  transition: opacity 0.3s;
  font-weight: 500;
}

.nav-links {
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-self: center;
}

.nav-links a:hover {
  opacity: 0.8;
}

.button-links {
  display: none;
}
}


@media screen and (max-width: 730px) {

  header {
    background-color: #e60012;
    padding: 1rem 2rem;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  nav {
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .logo-img {
    height: 30px;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .nav-links{   
    display: none;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 90%;
    justify-content: center;
    justify-items: center;
  }
  
  .button-links {
    display: flex;
    width: 8%;
    justify-self: end;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    transition: opacity 0.3s;
    font-weight: 500;
  }

}

@media screen and (max-width: 450px) {

  header {
    background-color: #e60012;
    padding: 1rem 2rem;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  nav {
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .logo-img {
    height: 20px;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .nav-links{   
    display: none;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 90%;
    justify-content: center;
    justify-items: center;
  }
  
  .button-links {
    display: flex;
    width: 8%;
    justify-self: end;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    transition: opacity 0.3s;
    font-weight: 500;
  }

}


/* Header Styles */


#footer-partners {
  width: 100%;
  display: flex;
  background:  #a5a2a2;    /* #333; */
  height: 16vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
}

.footer-distributed{
  background: #0d0c0c;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: fit-content;
  font: bold 16px sans-serif;
  padding: 35px 10px;
  justify-self: center;
}

@media screen and (max-width: 400px) {
    #footer-partners{   
      flex-direction: column;
    }
  }

.footer-distributed{
  background: #0d0c0c;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: fit-content;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 35px 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
  padding: 16px;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 100%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #dd2020;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #a5a2a2;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 100%;
}

.footer-distributed .footer-center i{
  background-color:  #a5a2a2;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #dd2020;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #dd2020;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #dd2020;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 100%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #a5a2a2;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
  /* margin-top: auto; */

}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* background-color:  #33383b; */
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  text-align: center;
}

footer .logo {
  width: 100px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

 /* Social Media Buttons */

/* Style all font awesome icons */

.fa {
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

#fa-facebook {
    background: #3B5998 !important;
    color: white !important;
}

.fa-twitter {
    background: #55ACEE !important;
    color: white !important;
}

.fa-linkedin {
    background: #007bb5 !important;
    color: white !important;
}

.fa-github {
    background: lightseagreen !important;
    color: white !important;
}
