body{
  object-fit: cover;
  background-image: url(/img/bg-black-dots.avif);
}
/* Main column */
  main {
    padding-top: 70px;
    justify-items: center;
  }

  .slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    justify-items: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    object-fit: cover;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    width: 5%;
  }
  
  .prev { left: 2%; }
  .next { right: 2%; }
  

  .games {
    color: #dd2020;
    padding: 16px;
    justify-self: center;
    justify-items: center;
}

  .game-cards {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 2rem;
    justify-items: center;
}

.game-card {
    display: inline-block;
    justify-items: center;
    align-items: center;
    width: 41%;
    height: fit-content;
    flex-wrap: wrap;
}

.game-img:hover {
  border: 3px solid #0d0c0c;
  box-shadow: 0px 0px 20px #dd2020;
}

.game-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.game-img img {
  position: relative;
  width: 250%;
  object-fit: cover;
}

.game-name {
  justify-items: center;
  color:#e5e5e5;
  padding-top: 5%;
  width: 250%;
  font-size: 70%;
}
 
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .slider {
      height: 250px;
    }
    
    button {
      padding: 1%;
      width: 5%;
    }
    
  
    .games {
      padding: 16px;
      width: 100%;
  }
  
    .game-cards {
      grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
      gap: 2rem;
  }
  
  .game-card {
      width: 50%;
    }
  
  .game-img img {
    width: 250%;
  }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {

  .slider {
    padding: 3%;
    min-width: 100%;
    height: 150px;
  }
  
  .slide {
    padding-left: 5%;
    padding-right: 5%;
    min-width: 100%;
  }
  
  button {
    padding: 3%;
    width: 10%;
  }

  .prev { left: 0%; }
  .next { right: 0%; }
  

  .games {
    padding: 16px;
    width: 100%;
}

  .game-cards {
    grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
    gap: 1rem;
}

.game-card {
    width: 50%;
  }

.game-img img {
  width: 250%;
}

  }