* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  /* Main column */
  main {
    background-color: #dd2020;
    justify-items: center;
  }

  .slider {
    display: flex;
    position: relative;
    max-width: 35%;
    height: 400px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    object-fit: cover;
    width: 100%;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    width: 5%;
  }
  
  .prev { left: 2%; }
  .next { right: 2%; }
  

  .pizza {
    color: #dd2020;
    padding: 16px;
    width: 100%;
    background-image: url(/img/bg-black-dots.avif);
    justify-self: center;
    justify-items: center;
}

  .pizza-cards {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 2rem;
    justify-items: center;
}

.pizza-card {
    display: inline-block;
    justify-items: center;
    align-items: center;
    width: 41%;
    height: fit-content;
    flex-wrap: wrap;
}

.pizza-img:hover {
  border: 3px solid #0d0c0c;
  box-shadow: 0px 0px 20px #dd2020;
}

.pizza-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.pizza-img img {
  position: relative;
  width: 250%;
  object-fit: cover;
}

.pizza-name {
  justify-items: center;
  color:#e5e5e5;
  width: 100%;
  font-size: 60%;
}
 
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .slider {
      padding: 3%;
      max-width: 50%;
      height: 250px;
    }
    
    .slide {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }
    
    button {
      padding: 1%;
      width: 5%;
    }
    
  
    .pizza {
      padding: 16px;
      width: 100%;
  }
  
    .pizza-cards {
      grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
      gap: 2rem;
  }
  
  .pizza-card {
      width: 50%;
    }
  
  .pizza-img img {
    width: 250%;
  }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {

  .slider {
    padding: 3%;
    max-width: 50%;
    height: 150px;
  }
  
  .slide {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  
  button {
    padding: 3%;
    width: 10%;
  }

  .prev { left: 0%; }
  .next { right: 0%; }
  

  .pizza {
    padding: 16px;
    width: 100%;
}

  .pizza-cards {
    grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
    gap: 1rem;
}

.pizza-card {
    width: 50%;
  }

.pizza-img img {
  width: 250%;
}

  }